.center-box {
    background-color: rgb(246, 246, 246);
    padding: 20px;
    text-align: center;
    max-width: 1000px;
    border: 5px solid darkgray;
    border-radius: 30px;
    animation-name: fadein;
    animation-duration: 500ms;
    margin: 100px auto auto auto;
}
.center-box h1 {
    font-size: 40px;
}
.center-box h2 {
    margin-top: -10px;
}
.center-box h3 {
    margin: 20px 0 10px 40px;
    font-weight: initial;
    text-align: left;
}
.center-box p {
    font-weight: lighter;
    margin: 0 40px 20px 40px;
    font-size: 18px;
    text-align: left;
}
.social-icons i {
    margin: 0 10px 10px 10px;
}
.fa-brands.fa-discord.fa-3x {
    color: #7289da;
}
.fa-brands.fa-github.fa-3x {
    color: #24292e;
}
.fa-brands.fa-stack-overflow.fa-3x {
    color: #F47F24;
}
.fa-solid.fa-envelope.fa-3x {
    color: #6b6b70;
}



.fade-out {
    animation: fadeout 250ms ease forwards;
}
@keyframes fadein {
    from { opacity: 0; transform: translateX(-200px) }
    to { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1;  }
    to { opacity: 0; transform: translateX(200px)}
}