.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}
.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}
.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}
.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}
.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}
.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}
.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}


* {
    font-family: Merriweather, sans-serif;
}
#logo {
    height: 50px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(246, 246, 246, 0%);
    max-width: 220px;
    height: 60px;
    padding: 0 20px;
}
.logo #logo {
}
#headertext {
    text-align: center;
}
#linklogo {
    background-color: rgba(246, 246, 246, 0%);
    padding: 5px;
}
.navbar {
    display: flex;
    margin: 20px auto auto;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    font-family: Merriweather, sans-serif;
    background-color: rgba(246, 246, 246, 85%);
    max-width: 97%;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 20px;
    /*animation-name: fadein;*/
    /*animation-duration: 250ms;*/
}
.navbar h2 {
    color: #2f2f2f;
}
.navbar ul {
    display: flex;
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;
    color: #2f2f2f;
    padding: 20px;
    font-weight: bold;
}
.navbar ul button {
    width: 150px;
    height: 50px;
}



.center-box {
    background-color: rgb(246, 246, 246);
    padding: 20px;
    text-align: center;
    max-width: 1000px;
    border: 5px solid darkgray;
    border-radius: 30px;
    animation-name: fadein;
    animation-duration: 900ms;
    margin: 100px auto auto auto;
}
.center-box h1 {
    font-size: 40px;
}
.center-box h2 {
    margin-top: -10px;
}
.center-box h3 {
    margin: 20px 0 10px 40px;
    font-weight: initial;
    text-align: left;
}
.center-box p {
    font-weight: lighter;
    margin: 0 40px 20px 40px;
    font-size: 18px;
    text-align: left;
}
.social-icons i {
    margin: 0 10px 10px 10px;
}
.fa-brands.fa-discord.fa-3x {
    color: #7289da;
}
.fa-brands.fa-github.fa-3x {
    color: #24292e;
}
.fa-brands.fa-stack-overflow.fa-3x {
    color: #F47F24;
}
.fa-solid.fa-envelope.fa-3x {
    color: #6b6b70;
}


.fade-out {
    animation: fadeout 250ms ease forwards;
}
@keyframes fadein {
    from { opacity: 0; transform: translateX(-200px) }
    to { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1;  }
    to { opacity: 0; transform: translateX(200px)}
}