.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}
.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}
.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}
.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}
.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}
.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}
.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}



#logo {
    height: 50px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(246, 246, 246, 0%);
    max-width: 220px;
    height: 60px;
    padding: 0 20px;
}
.logo #logo {
}
#headertext {
    text-align: center;
}
#linklogo {
    background-color: rgba(246, 246, 246, 0%);
    padding: 5px;
}
.navbar {
    display: flex;
    margin: 20px auto auto;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    font-family: Merriweather, sans-serif;
    background-color: rgba(246, 246, 246, 85%);
    max-width: 97%;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 20px;
    /*animation-name: fadein;*/
    /*animation-duration: 250ms;*/
}
.navbar h2 {
    color: #2f2f2f;
}
.navbar ul {
    display: flex;
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;
    color: #2f2f2f;
    padding: 20px;
    font-weight: bold;
}
.navbar ul button {
    width: 150px;
    height: 50px;
}


.center-box {
    display: flex;
    margin: 20px auto auto;
    align-items: center;
    justify-content: space-between;
    height: 850px;
    font-family: Merriweather, sans-serif;
    background-color: rgba(246, 246, 246, 100%);
    max-width: 97%;
    border-radius: 20px;
    padding: 0 10px;
    /*animation-name: fadein;*/
    /*animation-duration: 500ms;*/
}
.info-box {
    background-color: mediumpurple;
    width: 27.5%;
    height: 98%;
    border-radius: 20px;
}
#info-title {
    text-align: center;
    font-weight: bold;
    margin: 30px 0 0 0;
}
#position-info {
    margin: 0 0 0 20px;
    background-color: red;
    width: 170px;
    display: inline-block;
}
#position-result {
    margin: 0 0 0 20px;
    background-color: red;
    width: 170px;
    display: inline-block;
}
#position-info h2,#position-result h2 {
    font-weight: lighter;
}
.map-box {
    background-color: tomato;
    width: 71.5%;
    height: 98%;
    border-radius: 20px;
}
#map-title {

}

@keyframes fadein {
    from { opacity: 0; transform: translateX(-200px) }
    to { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1;  }
    to { opacity: 0; transform: translateX(200px)}
}